body{
	background-image: url(wall.gif);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 0;
	margin: 0;
	width:100vw;
	height: 100vh;
	font-family: ;
}
.panel{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.question-container{
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 10vh;
	background-color: white;
	border: 4px solid #00b9ff;
	font-size: x-large;
	text-align: center;
	border-radius: 25px;
	padding: 20px;
}
.result{
	margin: 10px;
	padding: 5px;
	width:80vw;
	height: 10vh;
	text-align: center;
	font-size: 100px;
	
}
.option-container{
	display: flex;
	justify-content: space-around;
	margin: 10px;
	padding: 5px;
	width: 80vw;
	height: 20vh;
	background-color: white;
	border: 4px solid #00b9ff;
	padding: 20px;
	border-radius: 25px;
	
}
.option{
	padding: 0px;
	width: 15vw;
	height: 10vh;
	font-size: larger;
	background-color: #dfd500;
	border-radius: 25px;
}
.option:hover{
	background-color: lightgoldenrodyellow;
}
.navigation{
	width: 80vw;
	height: 10vh;
	margin: 10px;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	background-color: white;
	border: 4px solid #00b9ff;
	border-radius: 25px;
	padding: 20px;
}

.evaluate,.next{
	width:30vw;
	height: 8vh;
	padding: 5px;
	font-size: larger;
	border-radius: 25px;
}
.evaluate{

	background-color: #50DBB4;
}
.next{
	color: white;
	background-color: #BF3325;
}
